@import url('https://fonts.googleapis.com/css?family=Krona One');

:root {
  --secondary-color: #FFFFFF;

  --primary-source: 'Krona One';
}

.footer {
  padding: 10px;
  background-image: linear-gradient(to right, #F80000,  #FDA522);
}

.textFooter {
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  color: var(--secondary-color);
  font-family: var(--primary-source);
}

@media (max-width: 730px) {
  .textFooter {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .textFooter {
    font-size: 8px;
  }
}