@import url('https://fonts.googleapis.com/css?family=Salsa');
@import url('https://fonts.googleapis.com/css?family=Krona One');

body{
  background-color: #0E1013;
}

nav{
  height: 80px;
  display: flex;
  align-items: center;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(14, 16, 19, .7);
  z-index: 3;
}

.logo{
  flex: 1;
  font-size: 35px;
  color: #FDA522;
  font-weight: 300;
  padding-left: 150px;
  font-family: 'Salsa';
}

.buttonNav{
  color: #FFFFFF;
  margin-right: 50px;
  border-style: solid;
  font-family: 'Krona One';
  border-bottom-width: 2px;
  border-image: linear-gradient(to right, #FF00E6, #F80000, #FDA522) 1;
}