@import url('https://fonts.googleapis.com/css?family=Salsa');
@import url('https://fonts.googleapis.com/css?family=Krona One');

body {
  background-color: #0E1013;
}

nav {
  top: 0;
  z-index: 3;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  align-items: center;
  background-color: rgba(14, 16, 19, .7);
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.logo {
  flex: 1;
  font-size: 35px;
  color: #FDA522;
  font-weight: 300;
  padding-left: 150px;
  font-family: 'Salsa';
}

.containerNav {
  margin-right: 50px;
  height: 20px;
}

.buttonNav {
  color: #FFFFFF;
  font-family: 'Krona One';
}

.buttonBar {
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to right, #FF00E6, #F80000, #FDA522);
  border-radius: 99px;
}

#buttonWel {
  opacity: 0;
  width: 0;
}

#buttonWel.buttonBar {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}

#buttonSki {
  opacity: 0;
  width: 0;
}

#buttonSki.buttonBar {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}

#buttonRep {
  opacity: 0;
  width: 0;
}

#buttonRep.buttonBar {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}