@import url('https://fonts.googleapis.com/css?family=Krona One');

:root {
	--secondary-color: #FFFFFF;

	--primary-source: 'Krona One';
}

.repositories {
	height: 80vh;
	margin-left: 15%;
}

.textRep {
	font-size: 36px;
	line-height: 50px;
	color: var(--secondary-color);
	font-family: var(--primary-source);
}

.itenKabum {
	display: flex;
	margin-top: 4%;
}

.imgKabum {
	width: 90px;
  height: 90px;
  margin-right: 43px;
}

.titleKabum {
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 15px;
	color: var(--secondary-color);
	font-family: var(--primary-source);
}

.textKabum {
	width: 400px;
	font-size: 15px;
	line-height: 25px;
	color: rgba(255, 255, 255, 0.8);
	font-family: var(--primary-source);
}

@media (max-width: 730px) {
	.repositories {
		display: flex;
		margin-left: 0;
		align-items: center;
		flex-direction: column;
	}

	.textRep {
		font-size: 30px;
	}

	.itenKabum {
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.imgKabum {
		width: 85px;
		height: 85px;
		margin-right: 0;
	}

	.containerDesc {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.titleKabum {
		font-size: 16px;
		margin-top: 18px;
		align-items: center;
	}

	.textKabum {
		width: 300px;
		font-size: 13px;
		text-align: center;
	}
}