@import url('https://fonts.googleapis.com/css?family=Krona One');

:root {
  --secondary-color: #FFFFFF;
  --bg-skills: #282A2D;

  --primary-source: 'Krona One';
}

.contentSkills {
  z-index: 2;
  width: 100%;
  height: 100vh;
  margin-top: 10vw;
  position: absolute;
}

.skillsText {
  font-size: 36px;
  margin-left: 15%;
  line-height: 50px;
  color: var(--secondary-color);
  font-family: var(--primary-source);
}

.containerColuns {
  display: flex;
  justify-content: center;
}

.colunLeft {
  width: 40%;
  height: 37vw;
  display: flex;
  min-height: 400px;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

.itens{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.imgCy{
  width: 90px;
  height: 90px;
  margin-right: 43px;
}

.textItens {
  width: 400px;
  font-size: 15px;
  line-height: 40px;
  color: var(--secondary-color);
  font-family: var(--primary-source);
}

.imgHtml {
  width: 85px;
  height: 85px;
}

.imgCss {
  width: 95px;
  height: 95px;
  margin-right: 43px;
}

.colunRight {
  width: 40%;
  height: 650px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.imgIos {
  height: 90px;
}

.imgAnd {
  width: 90px;
  height: 90px;
  margin-right: 43px;
}

.topBg {
  width: 100%;
}

.midBg {
  width: 100%;
  height: 430px;
  margin-top: -10px;
  background-color: var(--bg-skills);
}

.bottomBg {
  width: 100%;
  margin-top: -5px;
  transform: scaleX(-1) scaleY(-1);
}

/* @media(max-width: 1360px) {
  .containerColuns {

  }
  
} */

@media (max-width: 1360px) {

  .contentSkills {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .skillsText {
    margin-left: 0;
    margin-top: 30vw;
  }

  .containerColuns {
    flex-direction: column;
    align-items: center;
  }

  .colunLeft {
    width: 80%;
    align-items: center;
  }

  .colunRight {
    width: 100%;
    justify-content: flex-start;
  }

  .midBg {
    height: 600px;
  }
}