@import url('https://fonts.googleapis.com/css?family=Krona One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --primary-color: #0e1013;
  --secondary-color: #FFFFFF;
  --tertiary-color: #FDA522;

  --primary-source: 'Krona One';
  --secondary-source: 'Montserrat';
}

strong {
  font-weight: bold;
  color: var(--tertiary-color);
}

.welcome {
  height: 85vh;
  display: flex;
  margin-top: 80px;
  position: relative;
  align-items: center;
  word-wrap: break-word;
  justify-content: center;
}

.containerText {
  width: 570px;
  margin-right: 110px;
}

.welcomeText {
  font-size: 36px;
  line-height: 50px;
  padding-left: 6px;
  border-style: solid;
  border-left-width: 4px;
  color: var(--secondary-color);
  font-family: var(--primary-source);
  border-image: linear-gradient(to bottom, #FF00E6, #F80000, #FDA522) 1;
}

.aboutText {
  font-size: 22px;
  margin-top: 30px;
  line-height: 35px;
  color: var(--secondary-color);
  font-family: var(--secondary-source);
}

.acessText {
  font-size: 22px;
  margin-top: 30px;
  font-weight: 900;
  line-height: 35px;
  color: var(--secondary-color);
  font-family: var(--secondary-source);
}

.containerButton {
  flex: 1;
  height: 65px;
  display: flex;
  margin-top: 27px;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 230px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #FF00E6, #F80000, #FDA522, #F80000);
}

.button:hover {
  transition: all .2s;
  transform: scaleX(1.05) scaleY(1.05);
}

.bgButton {
  width: 226px;
  height: 56px;
  display: flex;
  border-radius: 11px;
  align-items: center;
  background-color: var(--primary-color);
}

.iconLink {
  height: 45px;
  margin: 0 20px;
}

.textLink {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--secondary-source);
}

.iconGit {
  height: 45px;
  margin: 0 20px;
}

.textGit {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--secondary-source);
}

.imgUser {
  width: 366px;
  height: 416px;
  position: absolute;
}

.bgImg {
  width: 358px;
  height: 408px;
  margin-left: 18px;
  margin-top: -15px;
  border: 2px solid;
  border-radius: 16px;
  background-image: linear-gradient(to bottom left  , #FF00E6, #F80000, #FDA522, #F80000);
}

.bgImgContent {
  width: 354px;
  height: 404px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 13px;
  background-color: var(--primary-color);
}


@media (max-width: 1125px) { 
  .welcome {
    height: auto;
    flex-direction: column;
  }

  .containerText {
    margin-right: 0;
    margin-top: 35px;
  }

  .containerImg {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (max-width: 730px) {
  .containerText {
    width: 500px;
  }

  .welcomeText {
    font-size: 30px;
  }

  .aboutText {
    font-size: 16px;
  }

  .acessText {
    font-size: 16px;
  }

  .button {
    width: 224px;
    height: 54px;
  } 

  .bgButton {
    width: 220px;
    height: 50px;
  }

  .iconLink {
    height: 39px;
  }

  .textLink{
    font-size: 18px;
  }

  .iconGit {
    height: 39px;
  }

  .textGit {
    font-size: 18px;
  }

  .containerImg {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .imgUser {
    width: 340px;
    height: 390px;
  }

  .bgImg {
    width: 332px;
    height: 382px;
  }

  .bgImgContent {
    width: 328px;
    height: 378px;
  }
}